@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
.Home {
  margin: 0;
  padding: 0;
}

/* ....................................................................... */
.content {
  display: flex;
  margin: 120px 100px;
  margin-left: 200px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
}
.info {
  width: 50%;

  /* margin-left: 100px; */
}
.info h1 {
  margin: 0px;
  font-size: 45px;
  text-align: left;
}
.info p {
  margin: 10px 0px;
  margin-bottom: 40px;
  width: 70%;
  line-height: 30px;
  text-align: left;
}
.info_signup {
  margin: 10px 30px;
  padding: 10px 40px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  background-color: #674188;
  border: 1px solid #674188;
  border: none;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}
.info_signup:hover {
  background-color: #c3acd0;
}
.image img {
  width: 450px;
  height: 450px;
}
/* ............................................................... */
.event_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 150px;
}
.events {
  background-color: #c3acd0;
  /* background-color: #674188; */
}

.event_card1 {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 300px;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}
.event_icon {
  font-size: 50px;
  margin-right: 10px;
}

/* ............................................................................ */
.facilities {
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.fc_head {
  margin: auto;
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  background-color: #ffe5b4;
  width: 200px;
  padding: 5px;
  border-radius: 6px;
  color: #e8aa42;
}
.facilities h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.cards {
  padding: 20px 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cards img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.fc_card {
  width: 350px;
  margin: 20px;
  padding: 25px 20px;
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.fc_card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 22px;
  /* font-family: 'Secular One', sans-serif; */
  margin: 0;
  /* padding: 20px 90px; */
}
.fc_card span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgb(153, 153, 153);
  /* font-family: 'Raleway', sans-serif; */
}


.startBtn{
  display: flex;
  align-items: start;
}
