.container {
    max-width: 1170px;
    margin: auto;
    padding-bottom: 70px;
    padding-inline: 2rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  .Footer ul {
    list-style: none;
  }
  .Footer {
    background-color: #674188;
    padding: 70px 0;
    padding-bottom: 0;
  }
  .footerCol {
    width: 25%;
    padding: 0 15px;
  }
  
  .footerCol img {
    font-size: 70px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .logo{
    width: 800px;
  }
  
  .footerCol h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footerCol h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(var(--accent-color));
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footerCol ul li:not(:last-child) {
    margin-bottom: 12px;
  }
  .footerCol ul li a,
  .footerCol ul li p {
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footerCol ul li a:hover,
  .footerCol ul li p:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footerCol ul li a svg,
  .footerCol ul li p svg {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  
  .socialLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  
  .socialLinks a {
    display: block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .socialLinks a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  .credentials {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color :#c3acd0;
    color: white;
    padding: 1.5rem 1rem;
    
  }
  .credentials p{
    margin: 0 20px;
  }
  
  .credentials span {
    font-weight: 600;
    color: rgb(var(--accent-color), 0.8);
  }
  
  /*responsive*/
  @media (max-width: 1026px) {
    .footerCol {
      width: 80%;
      margin-bottom: 30px;
    }
  
    .credentials {
      justify-content: center;
      align-items: center;
    }
  }
  
  @media (max-width: 574px) {
    .footerCol {
      width: 100%;
    }
  }
  